.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head {
  margin-top: 30px;
  font-size: 25px;
  font-weight: normal;
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
  padding: 15px;
}
.formElement {
  margin-top: 20px;
  width: 420px;
}
.submit {
  background-color: var(--primary);
}
