.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-weight: 600;
  font-size: 52px;
  text-transform: uppercase;
}
.contnet {
  color: var(--description);
  padding: 0 8vw;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
}
.courseSlider {
  width: 100%;
  position: relative;
} 
.item {
  width: 13vw;
  height: 250px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 50px 0;
  position: relative;
  overflow: hidden;
}
.itemImage {
  position: absolute;
  height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.language {
  z-index: 1;
  background-color: white;
  padding: 5px 20px;
  border-radius: 16px;
  font-size: small;
}
.courseName {
  z-index: 1;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}
.carouselContainer {
  height: 350px;
}
@media screen and (max-width: 1050px) {
  .item {
    width: 20vw;
  }
  .courseSlider {
    padding-left: 5vw;
  }
}
@media screen and (max-width: 564px) {
  .heading {
    font-size: 32px;
  }
  .contnet {
    padding: 0 1vw;
    font-size: 18px;
  }
  .item {
    width: 40vw;
  }
  .courseSlider {
    width: 58%;
    
  }
}
